.personal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 100%;
  top: 0;
  z-index: 999999;
  background-image: url("https://dev.tencent.com/u/never-wjj/p/images/git/raw/master/%E4%B8%AA%E4%BA%BA%E9%A1%B5-%E4%BF%A1%E6%81%AF.jpg");
  background-size: contain;
  transition: left 0.7s;
  padding: 15px;
  // position: relative;
  .personal-span {
    position: absolute;
    top: 88px;
    right: 55px;
    width: 60px;
    height: 60px;

    border-radius: 50%;
  }
}
.Allhomefootspan {
  position: fixed;
  height: 28vh;
  width: 100vw;
  left: 0%;
  bottom: 28%;
  z-index: 9999;
  transition: bottom 0.7s;
  padding: 10px;
  background-color: rgb(216, 211, 211);
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border-radius: 10px 10px 0 0;
  span {
    padding: 10px 0;
  }
}
.zhezhao {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  bottom: 0;
  z-index: 999;
  display: none;
}
